@media (max-width:740px) and (min-width:360px) {
    .txto{
       font-size: 10px;
    }
}

/* .blackiconcolor {
    color: black;
} */
.roque {
    background:  #CEB48D;
    /* background: linear-gradient(00deg, rgb(16, 39, 45) 25%, rgb(157, 207, 221) 160%); */
}
/* .fondocont { */
    /* background: rgb(0, 0, 0,0);
    background: linear-gradient(0deg, rgb(16, 39, 45) 20%, rgba(157, 207, 221, 1) 100%); */
    
/* } */
/*#80786B #D3BAA7*/
.bgrimg{
    /*background-image: url("../img/LogoFinal.png");
    /* position: absolute; 
    background-repeat: no-repeat;
    /* width: 100%; 
    height: 90%;
    background-size: contain;
    /* opacity: 60%; */
    background-position: center;
    /* position: relative; */
}

.roque:hover {
    /* color: rgba(0, 247, 255, 0); */
}

.r2 {
    background-color: #ceb48d6b;
    color: rgba(0, 0, 0, 0);
}

.r3 {
    /* background: linear-gradient(00deg, rgb(16, 39, 45) 200%, rgb(157, 207, 221) 0%); */
    background: #CEB48D;
    color: rgb(255, 255, 255);
}
/* .r2:hover {
    background-color: rgba(0, 225, 255, 0);
    color: rgba(0, 0, 0, 0);
} */

.tc {
    /* text-decoration: rgb(255, 0, 0); */
    background-color: rgba(157, 207, 221, 0.493);
    color: #FF0000;
}

.tc:hover {
    background-color: rgba(220, 20, 60, 0.747);
    color: white;
}

#panelAcceso {
    max-width: 400px;
    margin: auto;
    margin-top: 3%;
    border: 1px solid;
    border-color: rgba(121, 21, 21, 0.63) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
    text-align: center;
}

.form-control:focus {
    border-color: rgba(235, 15, 15, 0.288) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

#logo {
    width: 70%;
}

#logosmll {
    /* width: 20%; */
    width: 50%;
    height: 50%;
}

.bt {
    background: rgb(0, 0, 0);
    border-color: rgba(255, 255, 255, 0.658);
    color: white;
}

.buscar:hover {
    background-color: rgba(116, 19, 14, 0.863);
    color: white;
}

.nProv:hover {
    background-color: rgba(114, 116, 14, 0.863);
    color: white;
}

.fondo {
    background: rgba(102, 46, 46, 0.726);
}

.bt:hover {
    background-color: rgb(127, 167, 164);
    color: rgb(221, 221, 221);
}

textarea {
    background-color: rgba(141, 19, 19, 0.212);
    color: white;
}
.cardGan{
  
    /* background: linear-gradient(0deg, rgb(16, 39, 45) 20%, rgba(157, 207, 221, 1) 100%); */
    background:  white;
    color: gray;
    
}
.buM:hover{
    background: rgba(0, 204, 255, 0.363);
}
.buE:hover{
    background: rgba(235, 34, 34, 0.747);
}

.card-horizontal {
    display: flex;
    flex: 8 2 auto;
  }


#link{
    color: black;
    text-decoration: none;
  }


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

p {
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    /* color: #999; */
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    /* background: #fff; */
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    /* color: #fff; */
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /* background: #6d7fcc; */
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    /* min-height: 100vh; */
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
#sidebar.active {
    margin-left: -104px;
}

@media (max-width: 360px) {
    #sidebar {
        margin-left: -104px;
        /* display: none; */
        
    }
    #sidebar.active {
        margin-left: 0;
        /* display: flex; */
    }
    #sidebarCollapse span {
        display: none;
    }
}